{% extends 'myapp/base.html' %}

<body>

    {% block body_block %}
    {% if books %}
        <h2>Order Summary </h2>
        {% if order.order_type == 1 %}
            <h3>Below are the books Borrowed by {{ order.member.first_name }} :</h3>
        {%  else %}
            <h3>Below are the books Purchased by {{ order.member.first_name }} :</h3>
        {%  endif %}
            <h3>Total price : {{ total }}</h3>
        <ol>
            {% for b  in books %}
                <li> {{b.title}} </li>
            {% endfor %}
        </ol>

    {% else %}
        <strong>There are no available books!</strong>
    {% endif %}
    {%  endblock %}
</body>